apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
  # Helm charts templated via helmfile
  - ../../charts/cilium
  - ../../charts/prometheus
  - ../../charts/grafana

  # BNG components (to be added later)
  # - ../../components/bng

# Create monitoring namespace
namespaces:
  - monitoring
