apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Note: Don't set namespace here - let resources use their declared namespaces
# (Cilium → kube-system, Prometheus/Grafana → monitoring)

resources:
  # Helm charts templated via helmfile
  - ../../charts/cilium
  - ../../charts/prometheus
  - ../../charts/grafana

  # BNG components (to be added later)
  # - ../../components/bng

  # Namespace for monitoring stack
  - namespace-monitoring.yaml
