apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - rbac.yaml

labels:
  - pairs:
      app.kubernetes.io/name: bng
      app.kubernetes.io/component: bng
